{# templates/registration/index.html.twig #} {% extends 'base.html.twig' %} {% block body %} 
<div class="container">
  <div class="row justify-content-center">
    <div class="row col-md-10 ml-md-auto justify-content-center">
      <div class="card bg-light mb-3 mt-5" style="width: 800px">
        <div class="card-body">
          <div class="card-header mb-3">Registration Form</div>
          {{ form(form) }}
        </div>
      </div>
    </div>
  </div>
</div> {% endblock %}