.containerNavbar {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

nav {
    display: flex;
    width: 90%;
    padding: 0 20px;
    clip-path: polygon(100% 0, 95% 50%, 50% 100%, 5% 50%, 0 0);
    background: linear-gradient(#444, #111);
}

.menuFirst, .menuSecond {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    list-style: none;
}

.menu-li {
    margin: 15px auto 0 auto;
    font-size: 20px;
}

.menu-li .menu-a {
    font-family: Arial, Helvetica;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    color: #bbb;
    transition: 0.5s;
}

.menu-li .menu-a:hover {
    color: #fff;
}

.containerLogo {
    height: 120px;
    width: 180px;
}

.logo {
    height: 120px;
    width: 180px;
}

@media screen and (max-width: 900px) {
    .menu-li {
        margin: 20px auto 0 auto;
        font-size: 18px;
    }

    .containerLogo {
        height: 105px;
        width: 150px;
    }
    
    .logo {
        height: 105px;
        width: 150px;
    }
}

@media screen and (max-width: 750px) {
    nav {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .menuFirst, .menuSecond {
        order: 1;
    }

    .menuFirst {
        background-color: black;
        padding: 10px;
    }

    .menuSecond {
        background-color: black;
        padding: 0 10px 15px 10px;
    }

    .menu-li {
        padding: 10px 0;
        margin: 0 auto;
    }

    .containerLogo {
        order: 2;
    }

    /* gestion animation d'ouverture et de fermeture du menu */
    .dpNone {
        display: none;
    }

    .menuActiveNav {
        animation: nav-slide-down .7s ease-out;
    }

    .menuActiveUl {
        display: flex;
        animation: menu-slide-down .7s ease-out;
    }

    .menuActiveLogo {
        animation: logo-slide-down .7s ease-out;
    }

    .menudActiveNav {
        animation: nav-slide-up .7s ease-out;
    }

    .menudActiveUl {
        animation: menu-slide-up .7s ease-out;
    }

    .menudActiveLogo {
        animation: logo-slide-up .7s ease-out;
    }

    @keyframes menu-slide-down {
        0% {transform: translateY(-200%); }   
      100% {transform: translateY(0); }
    }

    @keyframes logo-slide-down {
        0% {transform: translateY(-110%); }   
      100% {transform: translateY(0); }
    }

    @keyframes nav-slide-down {
        0% {height: 105px; }   
      100% {height: 235px; }
    }

    @keyframes menu-slide-up {
        0% {transform: translateY(0); }   
      100% {transform: translateY(-200%); }
    }

    @keyframes logo-slide-up {
        0% {transform: translateY(0); }   
      100% {transform: translateY(-110%); }
    }

    @keyframes nav-slide-up {
        0% {height: 222px; }   
      100% {height: 105px; }
    }
}