{% extends 'base.html.twig' %} {% set titreH1 = 'Bienvenue' %}

{% block title %}Bienvenue sur la médiathèque!{% endblock %}

{% block body %}
<section>
 
    <div class="container-box">
        {% for film in films %}
            <div class="box" style="--i:3;">
				<div class="container-imgFilm">
					<img class="imgFilm" src="https://image.tmdb.org/t/p/original/{{ film.image }}">
                    <div class="container-content">
                        <h2 class="titreFilm">{{ film.name }}</h2>
                        <p class="synopsisFilm">{{ film.synopsis }}</p>
                    </div>
				</div>
			</div>
        {% endfor %}
    </div>

    <div class="footer">
        <ul class="footer-ul">
            <li class="footer-li"><a class="footer-a" href="#" style="--i:9">Facebook</a></li>
            <li class="footer-li"><a class="footer-a" href="#" style="--i:8">Twitter</a></li>
            <li class="footer-li"><a class="footer-a" href="#" style="--i:7">Instagram</a></li>
        </ul>
        <p class="copyrightText">©Allright Medflex. 2022</p>
    </div>
    <script>
        let containerImgFilm = document.querySelectorAll('.container-imgFilm');
        containerImgFilm.forEach(popup => popup.addEventListener('click', () =>{
            popup.classList.toggle('active')
        }));

        function nbrAleatoire() {
            return Math.floor(Math.random() * 6) + 3;
        }

        let box = document.querySelectorAll('.box');
        box.forEach(box => box.style.setProperty('--i', nbrAleatoire()));
    </script>
</section>
{% endblock %}
