{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur la médiathèque!{% endblock %}

{% block body %}

    <div class="d-flex">
        {% for film in films %}
            <div class="card"style="width: 450px; margin-top: 50px">
                {#<div class="card-header">
                    Créé le {{ article.getDate|date("d/m/Y") }}
                </div>#}
                <div class="card-body">
                    <h5 class="card-title">{{ film.name }}</h5>
                    <p class="card-text">{{ film.synopsis }}</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
