{# templates/film/index.html.twig #} {% extends'base.html.twig' %} 
{% block body %} 
<div class="container">
  <div class="row justify-content-center">
    <div class="row col-md-10 ml-md-auto justify-content-around flex-wrap">
      <div class="card bg-light mb-3 mt-5" style="width: 800px">
        <div class="card-body">
          <div class="card-header mb-3">Film Form</div>
          {{ form(form) }}
        </div>
      </div>
    </div>
  </div>
</div> 
	<script>
		const selectElement = document.querySelector('#film_category');
    const key = "2630e5d421793226b64f8e6f65bcf6e8";
		selectElement.addEventListener('change', (event) => {
			fetch(`https://api.themoviedb.org/3/discover/movie?with_genres=${event.target.value}&api_key=${key}&language=fr`)
				.then(response => response.json())
				.then(data => {
          console.log(event.target.value);
					console.log(data)
					for (const book of data.items) {
						if (book.volumeInfo.description) {
							let listItem = document.createElement('a');
							listItem.setAttribute('class', 'list-group-item list-group-item-action')
							listItem.setAttribute('href', 'show_one_api/?key='+book.id)
							listItem.appendChild(
								document.createElement('strong')
							).textContent = book.volumeInfo.title;
							listItem.append(
								` Author : ${
								book.volumeInfo.authors
								}`
							);
							myList.appendChild(listItem);
						}
					
					}
				})
				.catch(console.error);
		});
	</script>
{% endblock %}