{% extends 'base.html.twig' %} {% set titreH1 = 'Mes films' %}
{% block body %}
<div class="containerCard">

    {# boucle sur le tableau $film du controller #}
    {% for key, item in films %}
    <div class="carte">
        <div class="circle" style="--clr:#f40103">
            <img class="logo" src="https://image.tmdb.org/t/p/w500/{{ item.image }}" alt="">
        </div>
        <div class="content">
            <h2>{{ item.name }}</h2>
            <p>{{ item.synopsis }}</p>
            <a href="{{ path('delete_film', {'id': item.id}) }}" onclick="return confirm('Voulez vous vraiment supprimer ce film?')">Supprimer</a>
        </div>
        <img class="product_img" src="" alt="">
    </div>
    {% endfor %}
       
</div>
{% endblock %}